pkgbase = terraform-provider-scaleway
	pkgdesc = Terraform Scaleway provider
	pkgver = 1.4.1
	pkgrel = 1
	url = https://github.com/terraform-providers/terraform-provider-scaleway
	arch = i686
	arch = x86_64
	license = MPL2
	makedepends = go
	makedepends = git
	depends = terraform
	source = https://github.com/terraform-providers/terraform-provider-scaleway/archive/v1.4.1.tar.gz
	sha256sums = f851a119f83914abf13cc5f8535f63945b585829d1bbfb9a07d498d4a4d43e01

pkgname = terraform-provider-scaleway

